<mat-card class="search-box">
  <mat-card-content>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="search-section">
        <mat-form-field class="search-box">
          <input formControlName="query" required type="search" matInput maxlength="256"
            placeholder="Search by coordinate or name of Place" [matAutocomplete]="auto" (keyup)="autocomplete($event)">
          <mat-hint>Ex. Coordinate: 10.797463,106.687569. </mat-hint>
          <!-- <mat-error *ngIf="baseSearch.invalid && baseSearch.errors.required">Please search something.</mat-error> -->
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="radius-section">
        <mat-hint>Choose radius </mat-hint>
        <button type="button" mat-icon-button color="accent" [matTooltip]="radiusToolTip" matTooltipPosition="right">
          <mat-icon>info</mat-icon>
        </button>
        <mat-slider formControlName="radius" [max]="maxRadius" [min]="minRadius" thumbLabel>
        </mat-slider>
        <span matSuffix>Meters.</span>
      </div>
      <div class="filter-section">
        <mat-hint>Choose Type</mat-hint>
        <button type="button" mat-icon-button color="accent" [matTooltip]="filterTypeToolTip"
          matTooltipPosition="right">
          <mat-icon>info</mat-icon>
        </button>
        <mat-form-field class="filter-box">
          <input type="text" placeholder="Type of nearby places" formControlName="typeFilter" matInput
            [matAutocomplete]="typeFilterAuto">
          <mat-autocomplete #typeFilterAuto="matAutocomplete">
            <mat-option *ngFor="let option of autoTypeFilterOptions | async" [value]="option">{{option}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-slide-toggle formControlName="opennowFilter" labelPosition="before">Open now</mat-slide-toggle>
      </div>
      <button mat-raised-button color="primary">Search <mat-icon>search</mat-icon></button>
    </form>
  </mat-card-content>
</mat-card>