[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pep8 = "*"
rope = "*"

[packages]
dnspython = "==1.16.0"
mongoengine = "==0.18.2"
pymongo = "==3.9.0"
flask = "==1.1.1"
flask-cors = "==3.0.8"
googlemaps = "==3.1.2"
python-dotenv = "*"
phonenumbers = "*"

[requires]
python_version = "3.7"
